 

<div class="ui large top fixed hidden menu ">
      <div class="ui container ">
        <a class="active item" href="#">Home</a> <h1> </h1><a class="item" href="#work">Work</a><a class="item"  href="#contact">Contact</a> 
     
      </div>
    </div>
     
    <div class="pusher">
      <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container">
          <div class="ui large secondary inverted pointing menu">
            <a class="toc item"><i class="sidebar icon"></i></a><a class="active item" href="#">Home</a><a class="item" href="#work">Work</a><a class="item" href="#contact">Contact</a> 
             
          </div>
        </div>
        <div class="ui text container">
          <h1 class="ui inverted header">
            Hello, I'm Marian Ilco, I'm a full-stack web developer.
          </h1>
           
        </div>
      </div>
   
      <div id = "work" >
      <div class="ui vertical stripe segment" >
        <div class="ui middle aligned stackable grid container">
          <div class="row">
            <div class="eight wide column">
              <h3 class="ui header">
                Administrative Dashboard for a fictitious Soccer School
              </h3>
              <p>
               Create Students, Instructors, Cohorts and Courses. Add/Remove Instructors and Students to/from Courses. Add/Remove Cohorts to/from Courses.
              </p>
              <h3 class="ui header">
               Environment
              </h3>
              <p>
                Ruby on Rails SASS framework Bootstrap for cards and grid PostgreSQL/Active Record for relational DB design Devise for simple user authentication BCrypt password encryption deployed to Heroku
              </p>
            </div>
            <div class="six wide right floated column">
              <%= image_tag("1.png", :alt => "rss feed") %>
               
            </div>
          </div>
          <div class="row">
            <div class="center aligned column">
              <a href="https://calm-falls-83557.herokuapp.com">
          <p class="ui huge button">Check Out</p>
  </a>
              
            </div>
          </div>
        </div>
      </div>
  
 <div id = "contact" >
<div class='ui inverted segment center aligned grid form-page'>
  <div class='ui inverted secondary menu'>
  <a href="https://www.linkedin.com/in/ilcomarian/" src="/assets/images/1.svg" class ="icon"></a>
    
    <%= link_to  'https://www.linkedin.com/in/ilcomarian/' do %>
      <%= image_tag("1.svg", :alt => "rss feed", class: "icon") %>
       <% end %>
      <%= link_to  'https://github.com/ilcomarian' do %>
       <%= image_tag("2.svg", :alt => "rss feed", class: "icon") %>
        <% end %>
        
         
  </div>
</div>
</div>