<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link rel="stylesheet" href="animate.min.css">
  </head>

  
  <%= favicon_link_tag asset_path('portfolio-287-695046.ico'), :rel => 'icon', :type => "image/x-icon" %>

    <%= yield %>
  </body>
</html>
